@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{
  font-family: "Manrope", sans-serif;
}
.menu-icon {
  padding: 18px 0;
  /* border: solid 1px red; */
  width: 100%;
  display:flex ;
  align-items: center;
}
.appbox_1{
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 50%;
}
.appbox_2{
  padding-left: 10px;
  display: flex;
  align-items:center;
  width: 50%;
  justify-content: center;
}
.appbox1_heading1{
  font-family: "Manrope", sans-serif;
  color: black;
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.0127em;
  text-align: left;
  margin: 0;
}
.appboxmini_1{
  padding-left: 10px;
  width: 50%;
  display: flex;
  align-items: center;
}
.appboxmini_2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}
.appbox1_para1{
  font-family: "Manrope", sans-serif;
  color: #080812B2;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 0;
}
.appboxmini_02{
  display: flex;
  align-items: center;
  border: solid 1px #1B88CA;
  width: 140px;
  height: 43px;
  justify-content:center ;
  /* padding: 10px 46px 9px 19px; */
  gap: 0px;
  border-radius: 50px;
  margin: 10px;
}
.appboxmini_022{
  display: flex;
  align-items: center;
  margin: 10px;
}
.appboxmini_002{
  display: flex;
  align-items: center;
  border: solid 1px #1B88CA;
  width:43px;
  height: 43px;
  padding: 14px;
  gap: 10px;
  border-radius: 100px;
  justify-content: center;
}
.appboxmini2_para1{
  margin: 0;
  font-family: "Manrope", sans-serif;
  color: #1B88CA;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  padding-left: 5px;
  letter-spacing: -0.0127em;
  text-align: center;

}
.icon {
  background: transparent;
  color: #111;
  display: none;
  cursor: pointer;
  border: none;
  padding: 0 20px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.sidebar-containerr {
  width: 95%;
  margin-top: 10%;
  /* background-color: #fff; */
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  height: 100%;
  /* border-right: 1px solid #8F8F8F; */
  min-height: 100vh;
  /* box-shadow: 0px 4px 10px rgb(0 0 0 / 40%); */
}
.drawer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.App-link {
  color: #61dafb;
}
.dashboard_content_main{
  width: calc(100% - 320px);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:1024px) {
  .menu-icon {
    padding: 15px 0;
}
  .icon {
    display: flex;
  }
  .dashboard_content_main{
    width: 100%;
  }
}
@media screen and (max-width:750px) {
  .appbox_1 {
    display: none;
  }
  .appbox_2 {
    padding-left: 0px;
    width: 70%;
  }
  .appboxmini_2 {
    padding-left: 0px;
    padding-right:0px ;
  }

}
@media screen and (max-width:400px) {
  .appboxmini_002 {
    display: none;
  }
  .css-1eccb0f-MuiPaper-root-MuiDrawer-paper {
    width: 40% !important;
}
}